body .container-fluid .col-md-12{
    margin: 0;
    padding: 0;
}

.container-fluid .col-md-12 .brand{
    background-color: #F8F9FA;
    margin-top: 0;
    padding: 0;
}

.title{
    display: flex;
    justify-content: space-between;
}

.content{
    margin: 20px;
    padding: 10px;
}

h1{
    margin-left: 70px;
}


.col-md-12 img{
    justify-content: space-between;
    width: 170vh;
    height: auto;
    margin-left: 70px;
}

.col-md-1 img{
    width: 50px;
    height: auto;
    margin-left: 25px;
}

p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.col-md-12-artikel{
    margin-left: 70px;
    margin-right: 60px;
}

.col-md-12 footer{
    background-color: #F8F9FA;
    margin-bottom: 0;
}

footer p{
    margin: 10px;
    margin-bottom: 3px;
    text-align: center;
}