body .container-fluid .col-md-12{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid .col-md-12 .brand{
    background-color: #F8F9FA;
    margin-top: 0;
    padding: 0;
    justify-content: space-evenly;
}


.col-md-3 img{
    width: 325px;
    height: auto;
}

.title{
    display: flex;
    justify-content: space-between;
}

p{
    text-align: justify;
}

footer{
    background-color: #F8F9FA;
    margin-bottom: 0;
}

footer p{
    margin: 10px;
    margin-bottom: 3px;
    text-align: center;
}