body .container-fluid .col-md-12{
    margin: 0;
    padding: 0;
}

.container-fluid .col-md-12 .brand{
    background-color: #F8F9FA;
    margin-top: 0;
    padding: 0;
}

.col-sm-4 img{
    width: 180px;
    height: auto;
}

.col-sm-4 button{
    justify-content: center;
}

.col-md-3-look1 {
    width: 370px; 
    height: auto; 
    background-color: #eaeaea; 
    padding: 20px;
}

.col-md-3-look1 img{
    width: 300px;
    height: auto;
    margin-top: 5px;
}

.col-md-3-look1 .keterangan{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

p{
    margin-right: 2vw;
}

.h4home{
    border: 1px solid  #eaeaea;
    background-color:  #eaeaea;
    color: black;
    text-align: center;
}

.list-group{
    width: 90%;
    text-align: center;
    float: right;
}

.content{
    margin: 2vw;
    padding: 1vw;
}

footer{
    background-color: #F8F9FA;
    margin-bottom: 0;
}

footer p{
    margin: 10px;
    margin-bottom: 3px;
    text-align: center;
}