body .container-fluid .col-md-12{
    margin: 0;
    padding: 0;
}

.container-fluid .col-md-12 .brand{
    background-color: #F8F9FA;
    margin-top: 0;
    padding: 0;
}

.content-berita{
    margin-left: 2.5vw;
}

hr{
    margin-right: 2.5vw;
}

.col-md-3 img{
    width: 300px;
    height: auto;
}

footer{
    background-color: #F8F9FA;
    margin-bottom: 0;
    margin-left: 0px;
}

footer p{
    margin: 10px;
    margin-bottom: 3px;
    text-align: center;
}