body .container-fluid .col-md-12{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid .col-md-12 .brand{
    background-color: #F8F9FA;
    margin-top: 0;
    padding: 0;
    justify-content: space-evenly;
}


.col-md-3 img{
    width: 300px;
    height: auto;
}

.thumb{
    margin-left: 1vw;
    margin-right: 1.5vw;
}

.title{
    display: flex;
    justify-content: space-between;
}

.content-berita{
    margin-left: 1vw;
    justify-content: space-around;
}

p{
    text-align: justify;
}

.hotel-img{
    width: 40%;
    height: auto;
}

footer{
    background-color: #F8F9FA;
    margin-bottom: 0;
}

footer p{
    margin: 10px;
    margin-bottom: 3px;
    text-align: center;
}