body .container-fluid .col-md-12{
    margin: 0;
    padding: 0;
}

.container-fluid .col-md-12 .brand{
    background-color: #F8F9FA;
    margin-top: 0;
    padding: 0;
}

.content{
    margin-left: 70px;
    margin-right: 70px;

}

.title{
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: #F8F9FA;
    margin-bottom: 0;
}

footer p{
    margin: 10px;
    margin-bottom: 3px;
    text-align: center;
}